[user]
    email = git@danieln.de
    name = Daniel Nägele
[alias]
    ci = commit -v
    co = checkout
    a = add
    p = pull --ff-only --prune
    s = status -sb
    lv = log --first-parent -m --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --stat=99,99 --date=relative
    lg = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%G?:\\ %cn]" --decorate --date=relative
    grep = grep -Ii
    ready = rebase -i @{u}
    branchsync = remote update origin --prune
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; nvim `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
[color]
    ui = true
[push]
	default = current
[pull]
    rebase = true
