watch_file flake.nix
watch_file flake.lock
watch_file devshell.nix
watch_file keys/hosts
watch_file keys/auth
watch_file keys/**.pub
if ! use flake . --impure
then
  echo "Could not enter direnv." >&2
fi
